<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="portal/_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>酷站</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/kaimaa.css">
</head>
<body>
<nav th:replace="portal/_fragments :: menu(6)" class="ui inverted attached stackable menu">
    <div class="ui container">
        <h2 class="ui teal m-padded-tb-small header item">启码</h2>
        <a href="#" class="m-item item m-mobile-hide"><i class="mini home icon"></i>首页</a>
        <a href="#" class="m-item item m-mobile-hide"><i class="mini idea icon"></i>分类</a>
        <a href="#" class="m-item item m-mobile-hide"><i class="mini tags icon"></i>标签</a>
        <a href="#" class="m-item item m-mobile-hide"><i class="mini clone icon"></i>归档</a>
        <div class="ui m-item dropdown item m-mobile-hide">
            资源库
            <i class="dropdown icon"></i>
            <div class="menu">
                <a class="item" th:href="@{/projects}"><i class="mini git icon"></i>开源项目</a>
                <div class="item"><i class="mini file video outline icon"></i>视频教程</div>
                <div class="item"><i class="mini book icon"></i>电子图书</div>
            </div>
        </div>
        <a href="#" class="active m-item item m-mobile-hide"><i class="mini globe icon"></i>酷站</a>
        <div class="right m-item menu m-mobile-hide">
            <div class="item">
                <div class="ui inverted icon input">
                    <i class="search link icon"></i>
                    <input type="text" placeholder="搜索内容...">
                </div>
            </div>
            <div class="item m-mobile-hide">
                <a class="ui m-padded-tb-small m-padded-lr inverted basic button">登录</a>
            </div>
            <div class="item m-mobile-hide">
                <a class="ui m-padded-tb-small m-padded-lr inverted basic button">注册</a>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-menu-toggle m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>

<div class="m-container m-padded-tb-big">
    <div class="ui container">
        <div class="ui grid">
            <div class="row">
                <div class="column">
                    <h4 class="ui top attached block header">
                        Collaboration Tools - 协同工具
                    </h4>
                    <div class="ui bottom attached segment">
                        <div class="ui five column grid">
                            <div class="column">
                                <img class="ui avatar image" src="https://oss-kaimaa.oss-cn-shenzhen.aliyuncs.com/shortcut/bearychat.ico">
                                <a target="_blank" href="https://bearychat.com" title="倍洽（BearyChat） - 面向未来的团队工作方式，团队沟通与智能化工作流">倍洽（BearyChat）</a>
                            </div>
                            <div class="column">
                                <img class="ui avatar image" src="https://oss-kaimaa.oss-cn-shenzhen.aliyuncs.com/shortcut/tower.ico">
                                <a target="_blank" href="https://tower.im" title="Tower - 深受用户喜爱的团队协作工具">Tower</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <h4 class="ui top attached block header">
                        Develop Tools - 开发工具
                    </h4>
                    <div class="ui bottom attached segment">
                        <div class="ui five column grid">

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <h4 class="ui top attached block header">
                        Design Tools - 设计工具
                    </h4>
                    <div class="ui bottom attached segment">
                        <div class="ui five column grid">

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <h4 class="ui top attached block header">
                        Front-end Framework - 前端框架
                    </h4>
                    <div class="ui bottom attached segment">
                        <div class="ui five column grid">
                            <div class="column">
                                <img class="ui avatar image" src="https://oss-kaimaa.oss-cn-shenzhen.aliyuncs.com/shortcut/semantic-ui.png">
                                <a target="_blank" href="https://semantic-ui.com/">Semantic UI</a>
                            </div>
                            <div class="column">
                                <img class="ui avatar image" src="https://oss-kaimaa.oss-cn-shenzhen.aliyuncs.com/shortcut/element.ico">
                                <a target="_blank" href="http://element-cn.eleme.io/" title="Element - 网站快速成型工具">Element</a>
                            </div>
                            <div class="column">
                                <img class="ui avatar image" src="https://oss-kaimaa.oss-cn-shenzhen.aliyuncs.com/shortcut/easyui.ico">
                                <a target="_blank" href="http://www.jeasyui.com/" title="EasyUI - helps you build your web pages easily">EasyUI</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <h4 class="ui top attached block header">
                        VPN
                    </h4>
                    <div class="ui bottom attached segment">
                        <div class="ui five column grid">
                            <div class="column">
                                <img class="ui avatar image" src="https://oss-kaimaa.oss-cn-shenzhen.aliyuncs.com/shortcut/shadowsocks.png">
                                <a target="_blank" href="https://portal.shadowsocks.nu/aff.php?aff=6838">Shadowsocks（影梭）</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="portal/_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive m-margin-top-big">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="../../static/images/wechat.jpg" th:src="@{/images/wechat.jpg}" class="ui rounded image" alt="" style="width: 110px">
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">联系信息</h4>
                <div class="ui inverted link list">
                    <div class="item m-text-thin">Email：harveychan#163.com</div>
                    <div class="item m-text-thin">QQ：86981685</div>
                    <div class="item m-text-thin">WeChat：chanharvey</div>
                </div>
            </div>
            <div class="six wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">关于博主</h4>
                <p class="m-text-thin m-text-spaced m-opacity-mini">博主是名具有多年Android和Java开发经验的工程师，会分享关于编程、新技术相关的任何内容，希望可以给来到这儿的人有所帮助...</p>
            </div>
            <div class="four wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">捐赠与支持</h4>
                <p class="m-text-thin m-text-spaced m-opacity-mini">为了维持本站运营，博主提供有偿服务、广告投放和承接外包小项目，需要的可以添加博主的微信。</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright © 2015 - 2019 HoDo Studio. All Rights Reserved.</p>
        <p class="m-text-thin m-text-spaced m-opacity-tiny">
            <a href="http://www.miitbeian.gov.cn/" target="_blank">粤ICP备16081048号</a>
        </p>
    </div>
</footer>

<!--/*/<th:block th:replace="portal/_fragments :: script">/*/-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<!--/*/</th:block>/*/-->

<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.dropdown').dropdown({
        on : 'hover'
    });
</script>
</body>
</html>